@forward "./base/reset-styles";
@use "./utils/variables";
@use "./base/typography";
@use "./base/common-styles";
@use "./utils/mixins";


/*header section*/
header {
    background-color: variables.$secondary-color;
    color: #fff;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        font-weight: 500;

        figure {
            order: 1
        }

        ul {
            display: variables.$flex-none;
            justify-content: center;
            align-items: center;
            gap: 10px;
            order: 2;
        }

        @include mixins.responsive(medium) {
            ul {
                display: variables.$flex;
            }
        }

        .login-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            order: 3;

            span {
                color: variables.$primary-color
            }

            .hamburger {
                display: block;
                font-size: 1.3rem;
                cursor: pointer;
            }

            @include mixins.responsive(medium) {
                .hamburger {
                    display: none;
                }
            }
        }
    }
}

/*banner section*/
#banner {
    background-color: variables.$primary-color;
    color: #fff;

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .hero-img,
        .hero-content {
            flex: 1;
            width: 100%;
            height: 100%;
        }

        .hero-img img {
            width: 100%;
        }

        .btn-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }

        .btn-primary {
            background-color: variables.$primary-color;
            color: white;
            border: 1px solid variables.$dark-color;
        }

        .btn-primary:hover {
            background-color: variables.$secondary-color;
        }

        .btn-secondary {
            background-color: variables.$secondary-color;
            color: white;
            border: 1px solid variables.$dark-color;
        }

        .btn-secondary:hover {
            background-color: variables.$primary-color;
        }

    }

    @include mixins.responsive(medium) {
        .hero {
            display: flex;
            flex-direction: row;
        }
    }
}

/*about section*/
#about {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .about-content {
            flex: 1;
        }

        .about-img {
            flex: 1;

            img {
                width: 100%;
            }
        }

        .btn {
            background-color: variables.$secondary-color;
            color: #fff;
        }

        .btn:hover {
            background-color: variables.$primary-color;
            cursor: pointer;
        }
    }

    @include mixins.responsive(medium) {
        .container {
            flex-direction: row;
        }
    }
}

#track-product {
    color: #fff;
    background-color: variables.$primary-color;

    .content {
        max-width: 780px;
        text-align: center;

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .track-input {
                flex: 1;

                input {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }
}

/*services section*/
#services {
    box-shadow: 0 4px 10px 0 #58575733, 0 4px 10px 0 #63616130;

    h1 {
        text-align: center;
    }

    .service-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;

        .card {
            text-align: center;
            padding: 1rem;
            border: 1px solid #f9f6f6;
            border-radius: 8px;
            cursor: pointer;

            h4 {
                font-size: variables.$heading-4-lg;
            }
        }

        .card:hover {
            box-shadow: 0 4px 10px 0 #58575733, 0 4px 10px 0 #63616130;
            transition: .4s;
        }

        .card:hover img {
            scale: 1.2;
            transition: .4s;
        }
    }

    @include mixins.responsive(medium) {
        .service-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include mixins.responsive(large) {
        .service-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

#testimonials {
    box-shadow: 0 4px 10px 0 #58575733, 0 4px 10px 0 #63616130;
    
    h1 {
        text-align: center;
    }

    .testimo-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;

        .tesimo-card {
            padding: 20px;
            box-shadow: 0 4px 10px 0 #58575733, 0 4px 10px 0 #63616130;
            border-radius: 8px;
            .card-header {
                display: flex;
                gap: 15px;
                margin-bottom: 10px;
                img {
                    width: 50px;
                    height: 50px;
                    border: 1px solid variables.$light-color;
                    border-radius: 50%;
                }
                p{
                margin: 5px 0; 
                }
            }
        }
    }

    @include mixins.responsive(medium) {
        .testimo-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

#contact {
    .container {

        h1 {
            text-align: center;
        }

        .contact-info {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 20px;

            .info,
            .form {
                flex: 1;
            }

            .info {
                div {
                    display: flex;
                    gap: 10px;
                }
            }

            .form {

                input,
                textarea {
                    display: block;
                    width: 100%;
                    margin: 10px 0;
                    border-radius: 5px;
                    padding: 10px;
                }

                .btn {
                    background-color: variables.$primary-color;
                    color: white;
                    width: 100%;
                    cursor: pointer;
                }

                .btn:hover {
                    background-color: variables.$secondary-color;
                    transition: .4s;
                }
            }
        }

        @include mixins.responsive(medium) {
            .contact-info {
                flex-direction: row;
            }
        }
    }
}


/*footer */
footer {
    padding: 10px;
    color: #fff;
    text-align: center;
    background-color: variables.$secondary-color;

    @include mixins.responsive(medium) {
        padding: 20px;
    }
}