@use "./../utils/variables";
@use "./../utils/mixins";

// utility clss 

.text-light {
    color: variables.$light-color;
}

.text-dark {
    color: variables.$dark-color;
}

.heading-m{
    margin-bottom: 20px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

//anchor styles
a {
    color: inherit;
}

a {
    padding: 5px 10px;
}

a:hover {
    color: variables.$primary-color;
    transition: .4s;
    animation-timing-function: ease-in-out;
    text-decoration: underline;
}

//global p styles
p {
    margin: variables.$margin-y-sm
}

//btn
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: variables.$para-size-sm;
    cursor: pointer;
}

//section common styles 
#banner,
#about,
#track-product,
#services,
#testimonials,
#contact {
    margin-bottom: variables.$section-bottom-margin-sm;
    padding: variables.$section-padding-sm;
}

@include mixins.responsive(medium) {

    #about,
    #track-product,
    #services,
    #testimonials,
    #contact {
        margin-bottom: variables.$section-bottom-margin-md;
        padding: variables.$section-padding-md;

    }

    p {
        margin: variables.$margin-y-md
    }

    .btn {
        padding: 10px 20px;
        font-size: variables.$para-size-md;
    }
}

@include mixins.responsive(large) {

    #about,
    #track-product,
    #services,
    #testimonials,
    #contact {
        margin-bottom: variables.$section-bottom-margin-lg;
        padding: variables.$section-padding-lg;

    }

    p {
        margin: variables.$margin-y-lg;
    }
}