@use "./../utils/variables";
@use "./../utils/mixins";

/* ====================================================
   Utility Classes
   -reusable class for text color,
   -headings,
   - layout containers.
==================================================== */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.text-light {
    color: variables.$light-color;
}

.text-dark {
    color: variables.$dark-color;
}

.heading-m {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: variables.$para-size-sm;
    cursor: pointer;
}


/* ====================================================
   Anchor Tag with hover effects
==================================================== */
a {
    color: inherit;
}

a {
    padding: 5px 10px;
}

a:hover {
    color: variables.$primary-color;
    transition: .4s;
    animation-timing-function: ease-in-out;
    text-decoration: underline;
}

/* ====================================================
   Global Paragraph Margins for p tags.
==================================================== */
p {
    margin: variables.$margin-y-sm
}

/* ====================================================
   Section Common Styles
==================================================== */
#banner,
#about,
#track-product,
#services,
#testimonials,
#contact {
    margin-bottom: variables.$section-bottom-margin-sm;
    padding: variables.$section-padding-sm;
}


/* ====================================================
   Responsive Styles (Medium)
==================================================== */
@include mixins.responsive(medium) {

    #about,
    #track-product,
    #services,
    #testimonials,
    #contact {
        margin-bottom: variables.$section-bottom-margin-md;
        padding: variables.$section-padding-md;

    }

    p {
        margin: variables.$margin-y-md
    }

    .btn {
        padding: 10px 20px;
        font-size: variables.$para-size-md;
    }

    .heading-m {
        margin-bottom: 45px;
    }
}

/* ====================================================
   Responsive Styles (large)
==================================================== */
@include mixins.responsive(large) {

    #about,
    #track-product,
    #services,
    #testimonials,
    #contact {
        margin-bottom: variables.$section-bottom-margin-lg;
        padding: variables.$section-padding-lg;

    }

    p {
        margin: variables.$margin-y-lg;
    }

    .heading-m {
        margin-bottom: 80px;
    }
}